* {
  box-sizing: border-box;
}

body {

  margin: 0 auto;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-bottom: 4px solid #72B7FA;
}

.otsikko {
text-align: center;
}
.otsikko > h1 {
  font-size: 42px;
  margin-left: 400px;
}
.otsikko > h2 {
  margin-left: 380px;
}
.side_box {
  float: right;
  padding: 15px;
  margin-top: 100px;
  width: 400px;
  border: 4px solid #72B7FA;
  border-radius: 10px;
  background-color: #F0F0F0;
}

#nimi {
margin-left: 84px;
}
#posti {
  margin-left: 33px;
  }
#yritys {
  margin-left: 81px;
}
#puhnro {
  margin-left: 9px;
}

button {
  float: right;
  border-radius: 7px;
  margin-top: -35px;
  height: 40px;
  width: 75px;
  margin-top: -50px;
  border: none;
  background-color: #F0654C;
  transition-duration: 0.5s;
}
button:hover{
  width: 100px;
  display: inline;
  align-items: center;
  justify-content: space-between;
}

p{
  font-size: 16px;
  font-weight: 500;
}

footer{
  margin-top: 50px;
  border-bottom: 1px solid black;
}
footer > p {
  float: right;
  font-style: italic;
  color: grey;
}

@media screen and (max-width: 700px) {

  body {
  max-width: 500px;
  }
  #logo {
  margin: 25px 0px 0px 0px;
  }
  .header {
    width: 300px;
    margin: auto;
  }
  .otsikko > h1 {
    font-stretch: extra-condensed;
    font-size: 32px;
    width: 400px;
    margin-left: -90px;
  }
  .otsikko > h2 {
    margin-left: -90px;
    width: 400px;
  }

  .article {
    width: 200px;
    margin: 0 auto;
  }
  .numerot {
    margin-top: 10px;
  }
  .pointti1, .pointti2, .pointti3 {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding-left: 10px;
  }
  .pointti1 h2, .pointti2 h2, .pointti3 h2 {
    font-size: 18px;
    font-stretch: condensed;
  }
  ul {
   margin-left: -45px;
  }
  .side_box, .tietoa_meistä, footer {
  display: none;
  }
}

@media screen and (max-width: 1000px){

  body {
  max-width: 600px;
  }
  #logo {
  margin: 25px 0px 0px 0px;
  }
  .header {
    width: 400px;
    margin: auto;
  }
  .otsikko > h1 {
    font-stretch: extra-condensed;
    font-size: 32px;
    width: 500px;
    margin-left: -90px;
  }
  .otsikko > h2 {
    margin-left: -90px;
    width: 500px;
  }

  .article {
    width: 320px;
    margin: 0 auto;
  }
  .numerot {
    margin-top: 10px;
  }
  .pointti1, .pointti2, .pointti3 {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding-left: 10px;

  }
  .pointti1 h2, .pointti2 h2, .pointti3 h2 {
    font-size: 18px;
    font-stretch: condensed;
  }
  ul {
   margin-left: -45px;
  }
  .tietoa_meistä {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding-left: 10px;
  }
  .side_box {
    position: absolute;
    bottom: -830px;
    margin-left: 100px;

  }
  footer {
  display: none;

}
}
