body {

  margin: auto;
  width: 100%;
  background-color: black;
}
header {
  background-color: #002E46;
  height: 100px;
  padding-top: 10px;
}
.inner_header h1 {
  margin: 10px 0px -20px 190px;
  color: #2DA163;
  font-family: 'Orbitron', sans-serif;
  font-size: 42px;
  font-weight: 400;
}
.inner_header h1 span {
font-size: 42px;
font-weight: 400;
}
nav {
  width: 710px;
  height: 30px;
  text-align: center;
  background-color: #9CDBD9;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
}
.button {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  margin: 0px 20px 0px 20px;
  color: green;
}
main {

  border: 30px solid #002E46;

}
h2 {
  margin-left: 260px;
  font-size: 2em;
}
h3{
}
footer {
  text-align: center;
  background-color: #002E46;
  height: 25px;
  border-radius: 0px 0px 30px 30px;
}

#alaviite {
  color: green;
  font-size: 20px;
  text-decoration: none;
}
aside {
  width: 250px;
  float: right;
  background-color: #2E6E91;
  border: 2px solid #002E46;
}
aside h3 {
  text-align: center;
}
footer, aside, section {
  padding: 5px 0px 10px 10px;
}
section {
  background-color: #2E6E91;

}
hr {
  width: 700px;
  float: left;
  margin-left: 4px;
}
#lofootit {
  float: right;
  margin-right: 0px;
  margin-top: -170px;
  border-radius: 10px;
  border: 1px solid black;
}
#studio {
  float: right;
  margin-right: 0px;
  margin-top: -170px;
  border-radius: 10px;
  border: 1px solid black;
}
#tietokone {
  float: right;
  margin-right: 20px;
  margin-top: -175px;
  border-radius: 10px;
  border: 1px solid black;
}

.artikkelit p {
  display: inline-block;
  width: 400px;
  font-size: 18px;
  margin-left: 25px;
}

ul {
  font-size: 18px;
}



.artikkelit {
  max-width: 100%;
  min-width: 30%;
  text-align: justify;


}

figcaption {
  float: right;
  margin-right: 80px;
  margin-top: -15px;
  font-style: italic;
}
