body {
  width: 800px;
  margin: auto;
  background-color: #3E9B97;
  }

header {
  color: #2E6E91;
  background-color: #59CF53;

}

nav {
  width: 400px;
  margin: auto;
  background-color: #ACEEA9;
  border-radius: 3px;
}

footer {
  background-color: #59CF53;
  padding: 1px;
}

aside {
  width: 150px;
  height: 468px;
  float: right;
  background-color: #4F6CAA;
}

header, footer, aside, section {
  padding: 5px 0px 10px 10px;
}

section {
  background-color: #4F6CAA;
  width: 400px;
}

a {
  margin: 0px 20px 0px 20px;
  color: green;
}

article {
  border-radius: 25px;
}
