body
{
  background: rgb(191,186,165);
  background: radial-gradient(circle, rgba(191,186,165,1) 52%, rgba(0,0,0,1) 85%);
  width: 720px;
  margin: auto;
}
table
{
  border: 3px dotted red;
}
th, td
{
  border: 1px solid black;
}
h1
{
  font-family: 'Trocchi', serif;
  font-size: 60px;
  text-shadow: black 1px 0 5px;
  color: #2ca889;
  margin-left: 120px;
  margin-bottom: 50px;
  }
h3
{
  border-top: 2px solid black; width: 720px;
  }

#studio {
  width: 150px;
  height: 100px;
  clear:both;
  float: right;
  border-radius: 10%;
  }

#seitseminen {
  width: 150px;
  height: 100px;
  clear: both;
  float: left;
  border-radius: 10%;
  margin-right: 30px;
}

#tietokone {
  width: 125px;
  height: 110px;
  float: right;
  border-radius: 10%;
  margin-left: 20px;
}
