body {
  width: 100%;
  margin-left: auto;
}

.form {
  width: 500px;
  margin: auto;
  background-color: lightgreen;
  border-radius: 10px;
}

fieldset {
  border: none;
}

h1 {
  width: 500px;
  text-align: center;
  margin: auto;
}
