body {
  width: 100%;
  margin: auto;
}

form {
  width: 30%;
  margin: auto;
  margin-top: 25px;
  background-color: lightgreen;
  border-radius: 10px;
}

fieldset {
  border: none;
}

h1 {

  text-align: center;
  margin: auto;
}

label {
  width: 105px;
}
